@model GestionHojasDeVida.Models.HojaVidaDto

<div>
    <h4>HojaVidaDto</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Actualizar", "Index", "HojaVidaDto", new { id = Model.Identificacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<form action="@Url.Action("ConsultaEmpleado", "HojaVidaDto")" method="get"  enctype="multipart/form-data">
    <div>
        Ingrese el numero de cedula del empleado a buscar:
        <input type="number" name="Identificacion" />
    </div>
</form>
